[2021-03-03 05:34] infiniteoverflow opened #3 "Login Screen and Sign up Screen"
We would like to add a login and a sign up screen to be shown to users. The user should be able to toggle between the two. The illustrations that are used here is added in the assets folder.

The colors and fonts to be used is also added in the file `constants.dart` and fonts folder.

<img width="543" alt="Screenshot 2021-03-03 at 11 02 27 AM" src="https://user-images.githubusercontent.com/4023662

[2021-03-03 05:42] infiniteoverflow opened #4 "Add Introduction Screen"
Add a introduction screen to be shown to the user.

<img width="239" alt="Screenshot 2021-03-03 at 11 11 29 AM" src="https://user-images.githubusercontent.com/40236624/109758198-35924a00-7c11-11eb-9fd0-75721c2dab6e.png">

[2021-03-03 06:03] infiniteoverflow opened #5 "Add Google Auth"
We have to implement Google Auth using Firebase.

[2021-03-03 06:04] infiniteoverflow opened #6 "Add Facebook Auth"
We need to add Facebook Authentication to the app. API keys will be provided.

[2021-03-03 10:09] ShrutiJ-01 commented on #4
I would like to  work on this issue!

[2021-03-03 10:09] Samdid commented on #4
@infiniteoverflow  I am a flutter developer. As I am a  GSSOC21' participant I want to contribute in this project so please assign this to me

[2021-03-03 10:11] ShrutiJ-01 commented on #6
I would like to work on this issue if assigned under GSSOC 21

[2021-03-03 10:14] Neha62-lit commented on #3
I want to contribute in this project. @infiniteoverflow can this issue kindly assigned to me for GSSOC'21?

[2021-03-03 10:55] infiniteoverflow commented on #3
Sure , you will be assigned this issue once the coding project starts.

[2021-03-03 10:57] infiniteoverflow commented on #6
Sure , this issue will be assigned to u once the coding period starts.

[2021-03-03 11:00] infiniteoverflow commented on #4
I will assign once the coding period starts.

@ShrutiJ-01 since u have commented on issue #6 , this issue will be assigned to @Samdid . But dont worry you will have plenty of issues to look out for during the 3 months !!

[2021-03-03 13:27] Manzee1609 commented on #5
I would like to work on this issue
(I have experience in using Google Auth using Firebase in my prev Flutter projects)

[2021-03-04 03:06] infiniteoverflow commented on #5
Thats great . I will assign as soon as the coding period starts.

[2021-03-04 10:59] ajay963 commented on #3
I am interested in contributing to this project but I am not participating in GSSOC can I contribute to this project ??

[2021-03-04 12:26] vinc3nati commented on #5
I'm also interested in adding this feature :)

[2021-03-04 12:31] vinc3nati opened #7 "Adding Stripe (or any other payment method) for books"
Each book can have different prices and say we keep a sale on book's prices we can update the cost dynamically using stripe as it is more popular and highly functional.

[2021-03-04 13:02] infiniteoverflow commented on #5
I am sorry @vinc3nati , i can assign this issue to only one participant at a time and thats based on First Come First Serve basis.

But, on the bright side you can look forward to more issues and you can contribute to those.

[2021-03-04 13:04] infiniteoverflow commented on #7
Actually we are not planning to integrate payments in our app. We are acting as a portal to connect the people, later they can chat and meet in person and exchange or sell/buy books.

So , Sorry i may have to close this issue. But feel free to reach out to me on LinkedIn or the discord channel once the coding period starts if u have any other innovative ideas. We are always open to suggestions.

[2021-03-04 13:04] #7 closed

[2021-03-04 14:18] vinc3nati opened #8 "Adding profiles for donors and receivers"
We can add a profile section for both and show them how many books they took or donated.

[2021-03-05 00:49] infiniteoverflow commented on #3
I am sorry @ajay963 , i can assign only a single participant at a time. But dont worry we will have enough issues coming up soon , you can look forward to that.

[2021-03-05 00:51] infiniteoverflow commented on #8
Yes we can , thats a good idea. But in order to implement that , we may have to setup other features first , we cant start with this directly.

You can work on this once the dashboard and user profiles are created.

[2021-03-06 12:01] nicks101 opened #9 "Set up lint rules"
Adding linting at the beginning of the project would help maintain good practices moving forward.

There are several options to add lint :

1.  Add rules individually as you go.
2. Use a community package from pub dev.

I prefer to use the second option. There are several packages available.
I would prefer [lint](https://pub.dev/packages/lint).  (No particular reason)

It is highly customizable. W

[2021-03-06 12:17] infiniteoverflow commented on #9
Yes sure , you can go ahead with lint package. Its the best we can use for linting. I will assign you this issue once the coding period starts. Good luck !!

[2021-03-06 12:51] nicks101 commented on #9
Okay, on it.

[2021-03-07 20:35] Saransh-cpp commented on #3
Please let me know if I can work on this issue or if there are any other issues I can work on as a part of GSSOC. Thanks!

[2021-03-08 02:13] infiniteoverflow commented on #9
@nicks101 You can get started with this.

[2021-03-08 02:15] infiniteoverflow commented on #6
@ShrutiJ-01 You can get started with this.

[2021-03-08 02:15] infiniteoverflow commented on #5
@Manzee1609 You can get started with this.

[2021-03-08 02:16] infiniteoverflow commented on #4
@Samdid You can start with this.

[2021-03-08 02:18] infiniteoverflow commented on #3
@Saransh-cpp Since this issue has been assigned to someone else on a First Come First Serve basis , i am afraid this issue cant be assigned to you. But yes, we will have tons of issues coming up soon , you can definitely work on those.

[2021-03-08 02:18] infiniteoverflow commented on #3
@Neha62-lit You can start with this.

[2021-03-08 04:39] Samdid commented on #4
Okk

[2021-03-08 13:20] Praneeth-rdy opened #11 "Develop HomePage Widget"
I hope we should also design a homepage for the application. Can you please review this issue and assign it to me?

[2021-03-08 13:21] infiniteoverflow commented on #11
Yes , currently we dont have a design. Try to build a basic one for now , later we can modify it accordingly.
Dont start with the PR for now , i will let u know some details within the next 2 days.

[2021-03-09 08:20] mohitsoni-dev commented on #4
I can work on this issue simultaneously with @Samdid? You can select the best one out of our work. Thanks.

[2021-03-09 09:04] abhishek7997 commented on #8
I can work on this
Please assign this to me.

[2021-03-09 09:08] Saransh-cpp commented on #4
Don't make open source contributions a competition:), you can help the assigned person but don't compete for the same issue, I hope you understand.

[2021-03-09 10:15] infiniteoverflow commented on #4
@mohitsoni-dev We cant have a single issue assigned to multiple participants. And dont worry i will add more issues within 2 days. So u can easily choose the one you are interested in.

[2021-03-09 10:30] infiniteoverflow commented on #8
I am sorry @abhishek7997 , since @vinc3nati is the author of this issue. It will be assigned to him. But dont worry you can look out for more issues which will be posted soon enough.

[2021-03-09 13:16] mohitsoni-dev commented on #4
Understood. Thanks.

[2021-03-09 16:35] Sahil-kachhap opened #13 "Creating a Contribution.md File"
I would like to be assigned for creating the Contributing Guidelines for this project.

[2021-03-09 16:54] Praneeth-rdy commented on #11
Hey @Sahil-kachhap,
As the exact work(design) isn't confirmed yet, I cannot assure you anything for now regarding this. If I feel that I cannot alone do it in the required time, then I will definitely take your help and we can divide the work. But for now, I am assuming that I can solve this issue by myself. I will definitely reach out to you in case of difficulty.
Thank you for your interest 😊.

[2021-03-09 17:22] infiniteoverflow commented on #13
Sure, go ahead. Assigning you.
I will add the respective labels once I get confirmation from the organizers about which labels to use.

[2021-03-09 17:43] Praneeth-rdy opened #15 "Creating templates for Issues and Pull Requests"
I think having pre-defined templates for the Issues and PRs will help us in maintaining uniformity while creating an issue or PR. I want to add these as default templates to the repo. Can you please assign this to me?

[2021-03-09 17:59] nicks101 opened #16 "Integrate to firebase"
- Creating a new firebase project and add the project to the firebase console.
- Adding configuration files to ios and android folders.

Since it'll require a firebase (email) account, let me know how to proceed with this issue.

[2021-03-09 18:37] SamarpanCoder2002 opened #17 "Email and Password(User's choice) Authentication With Firebase"
I would like to integrate this app with email and password(User's choice) authentication with firebase.   I also worked on this in one of my projects.....I noticed that the Google Authentication issue already present there... But sometimes there exist a feature like that(With Email and Manual Password)...... Can I go forward with that? And If @infiniteoverflow gives permission to that, please assi

[2021-03-09 20:53] Sahil-kachhap commented on #15
@Praneeth-rdy I have sent a PR on Contributing guidelines. If that gets merged, you can add your templates over there. So that, everything would be in one place.

[2021-03-10 02:13] anotherwebguy commented on #16
Can i work on this issue,plz assign me this as a part of gssoc'21
here's my email ,add me on console
mohitrajputms123@gmail.com

[2021-03-10 02:20] infiniteoverflow commented on #16
@nicks101 I will create an account and add you as collaborator. Kindly share your email id.

[2021-03-10 02:20] infiniteoverflow commented on #16
@anotherwebguy I am sorry , but since this issue is authored by a participant , i may have to assign it to her. You can look forward to more issues.

[2021-03-10 02:22] infiniteoverflow commented on #17
Sure , that sounds good. Kindly share your email id. And you can start with the work once i tell you. Because there are other integrations going on parallely , so don't want to create any merge conflicts for u.

[2021-03-10 02:24] infiniteoverflow commented on #15
@Praneeth-rdy i believe u have a issue already assigned to you. I will share the details for that soon. Once thats merged , you can start with this.

[2021-03-10 02:38] #4 closed

[2021-03-10 03:00] #3 closed

[2021-03-10 03:04] #13 closed

[2021-03-10 03:05] infiniteoverflow commented on #5
@Manzee1609 You can start the work. Kindly DM me your email , so that i can add you as collaborator the Firebase Project.

[2021-03-10 03:06] infiniteoverflow commented on #6
@ShrutiJ-01 Kindly DM me your email id , so that i can add you as collaborator to the Firebase Project.

[2021-03-10 03:09] infiniteoverflow commented on #11
@Sahil-kachhap , @Praneeth-rdy will add a tentative ui for now, later if any enhancements are required we can discuss in our project channel and u guys can work on it together.

[2021-03-10 03:11] infiniteoverflow commented on #16
@nicks101 Your task would be to integrate the ios with firebase. Android would be done by participants who are working on Social Logins.

[2021-03-10 03:41] Manzee1609 commented on #5
Email- ***@***.***

On Wed, 10 Mar 2021, 8:35 am Aswin Gopinathan, ***@***.***>
wrote:

[2021-03-10 03:43] infiniteoverflow commented on #5
@Manzee1609 your email is filtered. I am not able to see it. It would be better if you can share it with me via Discord.

[2021-03-10 03:47] ShrutiJ-01 commented on #6
I've have sent it via discord and linkedin 👍

[2021-03-10 03:54] Manzee1609 commented on #5
email - mansikalaria16@gmail.com

[2021-03-10 04:34] nicks101 commented on #16
okay

[2021-03-10 04:35] nicks101 commented on #16
done

[2021-03-10 04:36] Praneeth-rdy commented on #15
My idea was to add the templates to the .github directory. So that when people create an Issue or PR, then GitHub will automatically provide them with these templates by default.

[2021-03-10 04:37] Praneeth-rdy commented on #15
Sure.

[2021-03-10 07:26] rohats871 commented on #11
Hey, I would like to say if possible we can create our own designs and come up with a joint discussion of what to add from each different design, making it faster for all of us

[2021-03-10 07:32] rohats871 opened #20 "Intro Screen"
<img width="387" alt="Screenshot 2021-03-10 at 1 02 42 PM" src="https://user-images.githubusercontent.com/68010359/110592921-e87a1f00-81a0-11eb-9bce-fa7d1578fdae.png">
The Intro screen is not according to the screen size for iPhone 11 pro & 12 Pro Max

[2021-03-10 08:31] SamarpanCoder2002 commented on #17
Yeah sure.....my Gmail: samarpanofficial2021@gmail.com

After your permission, I will surely start working on that project...thanks for assigning me to that

[2021-03-10 09:07] infiniteoverflow commented on #17
I have added you as a collaborator. You can start working on that by the end of the day today.

[2021-03-10 09:09] #16 closed

[2021-03-10 09:11] infiniteoverflow commented on #11
Sure @rohats871 , i was planning to do that. But before that we need a tentative ui to consider as a benchmark. So once @Praneeth-rdy adds the screen we can try for more improvisation.

[2021-03-10 09:12] infiniteoverflow commented on #20
Oh yes, would you like to fix that ?

[2021-03-10 09:19] infiniteoverflow commented on #17
@SamarpanCoder2002 You can get started with it. Download the Google services json file from the console and integrate the email-pass authentication.
There are two screens , try to implement both SignUp and Login.

[2021-03-10 09:33] SamarpanCoder2002 commented on #17
Ok I start work from today.... Thanks for the permission

[2021-03-10 09:36] infiniteoverflow commented on #17
No problem and Good Luck.

[2021-03-10 09:39] nicks101 opened #21 "Models for the app"
Models at this point could be :

- user
- book

 I would suggest using [freezed package](https://pub.dev/packages/freezed) or we can make them by scratch.

Basic functions for model

- toMap (convert to map)
- fromMap (return instance of model/class from map)
- from snapshot (return instance of model/class from [firebase document snapshot](https://firebase.google.com/docs/reference/js/firebase.fir

[2021-03-10 12:19] Vrushti24 commented on #20
cAN I TRY THIS @infiniteoverflow ?

[2021-03-10 13:11] infiniteoverflow commented on #20
@Vrushti24 You may have to wait for his reply before I can assign. If it's just a bug report, you can work on it. Else if he is interested in working on this issue, I may have to assign him this issue.

[2021-03-10 13:13] Vrushti24 commented on #20
Okayy I understand that 👍

On Wed, Mar 10, 2021, 6:42 PM Aswin Gopinathan <notifications@github.com>
wrote:

[2021-03-10 13:14] infiniteoverflow commented on #21
This sounds like a good idea. But we are currently working on deciding the Post-authentication features and after that, we will let u know about the models we can build. So let this issue be open, and within some days we will get started with a concise plan.

[2021-03-10 13:19] rohats871 commented on #20
yes i would like to fix the issue

[2021-03-10 13:20] rohats871 commented on #20
and i am also looking for other iOS devices

[2021-03-10 13:21] infiniteoverflow commented on #20
Okay sure, go ahead. Just set the width based on the screen width , and try using AutoSizeText if necessary for the text inside the Button.

[2021-03-10 13:22] infiniteoverflow commented on #20
@Vrushti24 We will have more issues coming up soon. Do look out for them.

[2021-03-10 13:27] infiniteoverflow commented on #11
We have the discussion channel open for brainstorming. @Praneeth-rdy , @rohats871 , @Sahil-kachhap You guys can share your ideas there and we will come to a conclusion.

And @Praneeth-rdy Kindly share your current approach to the UI of the homepage. Share if you have any designs.

[2021-03-10 13:58] Praneeth-rdy commented on #11
Where is this discussion channel? Is there any slack or discord server for the same?

I am having the following design in my mind. I hope this can give us a potential start.

![IMG_20210310_192406](https://user-images.githubusercontent.com/57290210/110640295-abc91a80-81d6-11eb-8198-4bdc073ffc4a.jpg)

[2021-03-10 14:03] Sahil-kachhap commented on #11
@Praneeth-rdy Checkout the tabs above Issues, Pull Request and next comes Discussion go over there .

Get over there we will discuss on the homepage design over there. Do post this design over there

[2021-03-10 14:25] infiniteoverflow commented on #11
Lets discuss this in the HomePage Design Discussion.

[2021-03-10 15:42] infiniteoverflow opened #24 "Discussion Group : Open"
On the top tabbar of this repo , you can find a Tab : `Discussions` , we can use that to discuss any specific ideas that you have or brainstorm in ongoing discussions.

[2021-03-10 16:12] rohats871 commented on #24
So while trying multiple ways on fixing the bug for iOS , I found out the bar looks much better when circular rather then starting from bottom as we have in tentative design. It looks better as i feel it goes with the circular theme or login and sign up page too
<img width="319" alt="Screenshot 2021-03-10 at 9 40 14 PM" src="https://user-images.githubusercontent.com/68010359/110660291-695d0900-81e

[2021-03-10 17:22] Souvikns opened #25 "Design Mockup"
To access the mockup file https://www.figma.com/file/YFnbf7wm8mxGuAGmujRNDo/Libro?node-id=0%3A1

[2021-03-10 23:48] infiniteoverflow commented on #24
@rohats871 We can go with the existing one for now , later we will look for any better improvisations.
And try to comment on your issue. It will be easier to understand.

[2021-03-11 07:59] rohats871 commented on #20
cant upload it , i've already tried multiple times , says error 403

[2021-03-11 09:08] SamarpanCoder2002 commented on #17
I will add email and password authentication surely but can I store the data in cloud firestore or not???

[2021-03-11 09:57] D-Ajay-Kumar opened #27 "State Management with Provider"
# Feature

Adding Provider package for authentication and state management and drafting models for the app to make integration with the UI easy.

# Description

Introducing Provider package and creating provider classes for providing data like books list and user's data across all the screens of the app. The PR would include new models required for the app and provider classes for the same for aut

[2021-03-11 10:03] infiniteoverflow commented on #27
I am sorry @D-Ajay-Kumar , we had planned on using the BLoC Architecture as that would be easier to work on for the beginners.
We will have issues coming up soon. Do look out for them.

I may have to close down this issue now. Feel free to create an issue for any ideas you may have for the app. Thanks.

[2021-03-11 10:03] #27 closed

[2021-03-11 10:04] infiniteoverflow commented on #17
No , for now dont do that. Just print the UID once the user is authenticated successfully.

[2021-03-11 10:15] SamarpanCoder2002 commented on #17
Ok I will complete signup and login with email verification....If user verify registered email and then log in, Then I only print the UID....is that okay????

[2021-03-11 10:57] Samdid commented on #25
@infiniteoverflow @Souvikns  can you explain this issue in detail?

[2021-03-11 11:30] SamarpanCoder2002 commented on #17
Pull Request Send(https://github.com/infiniteoverflow/Libro/pull/28#issue-590788511)... Please merge it. If there any problem....you can freely tell me......Thanks

[2021-03-11 12:01] #17 closed

[2021-03-11 12:03] Souvikns commented on #25
@Samdid checkout #23 discussion.

[2021-03-11 12:04] infiniteoverflow commented on #5
Any update on this @Manzee1609 ?

[2021-03-11 12:04] infiniteoverflow commented on #6
Any update on this @ShrutiJ-01 ?

[2021-03-11 12:45] Samdid commented on #25
Okay

[2021-03-11 12:51] nicks101 opened #30 "Github Actions"
Proposal to add following Github Actions to save time on reviewing pull requests and automate apk/ipa generation.

- [x] `Analyze dart and flutter` on the following platform -> Windows, Linux, Mac (more can be added).
- [x] Run flutter `unit test` (if any)
- [ ] Run flutter `integration test` (if any)
- [ ] Generate `apk` and `ipa` Further, release them to `firebase app distribution` (will have to

[2021-03-11 13:03] infiniteoverflow commented on #30
Yes , you can go ahead with these actions. Try implementing the `under_review` and `review_requested` label as well. And regarding the spell check , lets skip that for now. Because spell-check might annotate for weird but acceptable variable names too. So leaving that for now , you can integrate the other actions.

[2021-03-11 13:49] Manzee1609 commented on #5
The code is almost ready, will make pr tommorow.

On Thu, 11 Mar 2021, 5:34 pm Aswin Gopinathan, ***@***.***>
wrote:

[2021-03-11 14:16] infiniteoverflow commented on #5
Sure.

[2021-03-11 14:29] ShrutiJ-01 commented on #6
Started with it, will make a PR soon enough

[2021-03-11 14:48] infiniteoverflow commented on #6
Okk sure.

[2021-03-12 04:53] infiniteoverflow opened #32 "Setup HiveDB"
**Is your feature request related to a problem? Please describe.**
We need to setup a local storage for our device so that certain functionalities can fetch data offline.

**Describe the solution you'd like**
For this purpose we would like to implement HiveDB in our app for local storage.

After initializing Hive , the participants have to create a first time flag using which a user that opens the

[2021-03-12 05:03] infiniteoverflow commented on #8
@vinc3nati This issue will be closed for now. You can create a new issue later for showing the books put up for sale by a particular user. This is because, we are not facilitating any payments on our app. The app functions just as a platform for connecting people.
Reach out to me or the mentors for any queries.

[2021-03-12 05:03] #8 closed

[2021-03-12 05:12] #5 closed

[2021-03-12 05:18] Souvikns commented on #15
@Praneeth-rdy as all other participants were opening issues, so as to help them we created the issue template, so you are still working on this issue please focus on the PR template.

[2021-03-12 06:48] #25 closed

[2021-03-12 07:59] D-Ajay-Kumar commented on #32
Never worked with adding Hive to Flutter but I can try doing it? Shall I?

[2021-03-12 08:07] rohats871 commented on #32
yess same , i would also like to know a lil more about it

[2021-03-12 08:08] D-Ajay-Kumar commented on #32
I have started working on it, hopefully I'll be able to set up Hive successfully :)

[2021-03-12 08:12] Souvikns commented on #32
Basically, we are using Hivedb instead of using shared preferences, we will be storing theme, settings, user preferences, etc.
To know more about Hivedb do check out its docs https://docs.hivedb.dev/#/

[2021-03-12 08:13] D-Ajay-Kumar commented on #32
Yes, I understand the use of the DB and have started working on integrating it to the app :)

[2021-03-12 08:16] Souvikns commented on #32
Then I am assigning you this issue.

[2021-03-12 08:16] D-Ajay-Kumar commented on #32
Thanks. Working on it.

[2021-03-12 08:17] rohats871 commented on #20
@Souvikns  help me a little here

[2021-03-12 08:21] Souvikns commented on #20
yeah, what is the problem, what are you trying to upload?

[2021-03-12 08:22] rohats871 commented on #20
upload the changes , its just wont let me

[2021-03-12 08:23] Souvikns commented on #20
yeah, actually you have to fork this repo first

[2021-03-12 08:23] rohats871 commented on #20
can we talk somewhere else in dm's if possible?

[2021-03-12 08:23] Souvikns commented on #20
then make a PR from your branch to this branch.

[2021-03-12 08:25] Souvikns commented on #20
In GSSOC discord, but I guess participants cant message yet

[2021-03-12 08:26] rohats871 commented on #20
okay after this

[2021-03-12 08:29] Souvikns commented on #20
once you fork you make a copy of this repo that is under your username, namely `rohats871/libro` then clone this repo (your forked version) make any changes that you like, then commit,push. then make a PR. TO make a PR just open the  github page of your forked repo there you will find the option to make a PR.

[2021-03-12 08:35] rohats871 commented on #20
<img width="1228" alt="Screenshot 2021-03-12 at 2 05 01 PM" src="https://user-images.githubusercontent.com/68010359/110914114-f31ceb80-833b-11eb-8ef5-56af287149c2.png">

@Souvikns  still the same

[2021-03-12 08:37] D-Ajay-Kumar commented on #32
I cannot test run the app locally because the google services file is missing. How do you propose I check whether the code is running fine or not?

[2021-03-12 08:37] Souvikns commented on #20
you are trying to push to the original repo, where you don't have any rights. If you have forked it clone the forked version.

[2021-03-12 08:48] Souvikns commented on #32
wait on this, about the google services file I have to ask @infiniteoverflow.

[2021-03-12 08:50] infiniteoverflow commented on #32
I will add the google drive link where i have added the file. I can add it to the repo , because GitGuardian bot will raise an issue.

[2021-03-12 08:51] D-Ajay-Kumar commented on #32
Right right

[2021-03-12 08:52] infiniteoverflow commented on #32
https://drive.google.com/file/d/1xLvwVTZQ3EWYl1uBna2IPp46hsjBQ8ul/view?usp=sharing

Here you go.

[2021-03-12 08:53] D-Ajay-Kumar commented on #32
Also, the screens files are named as home_screen, login_screen etc. and even the home  screen widget is named HomeScreen while the widget in login_screen.dart is named LoginPage which breaks the consistency. Is it alright if I change the name to LoginScreen instead of LoginPage?

[2021-03-12 08:59] Souvikns commented on #20
If you still have an issue you can check out this https://www.youtube.com/watch?v=nT8KGYVurIU

[2021-03-12 09:15] D-Ajay-Kumar commented on #32
Done. Please check the code :)

[2021-03-12 10:38] #32 closed

[2021-03-12 12:24] rohank2502 opened #36 "Tech Stack Update ( LOGO add )"
I will like to add tech stack logo used in our project this will make our project attractive !! Will start to work on this issue as soon as i get assigned !!

[2021-03-12 12:24] rohank2502 opened #37 "Adding Contributor section in readme ( Automatically )"
I will like to add a feature this will update contributor list in read me automatically !! Will start to work on this issue as soon as i get assigend !!

[2021-03-12 15:36] infiniteoverflow commented on #36
Sure go ahead. Add the following tech stacks :

- Dart
- Flutter
- Firebase

[2021-03-12 15:36] infiniteoverflow commented on #37
You can work on this once you complete the earlier issue. And can you please specify what you are planning to use for this. ?

[2021-03-12 16:03] rohank2502 commented on #36
Ok thanks !!

On Fri, Mar 12, 2021 at 9:06 PM Aswin Gopinathan ***@***.***>
wrote:

[2021-03-12 16:04] rohank2502 commented on #37
Ok i will be using the same concept as I apply on my git repository
https://github.com/rohank2502/Learn-GITHUB please have a look !!

On Fri, Mar 12, 2021 at 9:07 PM Aswin Gopinathan ***@***.***>
wrote:

[2021-03-12 19:44] SamarpanCoder2002 opened #38 "Add book list to this app"
**Is your feature request related to a problem? Please describe.**
no

**Describe the solution you'd like**
Authentication almost completed but not additional things..... I want to add a book list in this application to go forward in new steps

**Describe alternatives you've considered**
I want to add Book List to this app.... For that what you should prefer?? May I use any API to fetch many book

[2021-03-13 00:07] infiniteoverflow commented on #38
Appreciate your enthusiasm @SamarpanCoder2002 , we are planning to add the books in RealTime Database for now by creating a section for books.
You can help us in adding more books manually, because we are not planning to use any APIs. But i am afraid you wont be able to get any points for that as it is to be done on the firebase console. If thats okay with you , kindly message in the Discord chann

[2021-03-13 00:07] #38 closed

[2021-03-13 00:09] infiniteoverflow commented on #37
OK , looks good

[2021-03-13 00:10] infiniteoverflow commented on #11
@Praneeth-rdy update on this ?

[2021-03-13 00:11] #6 closed

[2021-03-13 03:43] Praneeth-rdy commented on #11
@infiniteoverflow Sorry, I was a bit busy the last one/two days. The UI development part is completed but while integrating the code with the current project and running it, I am getting an error saying **google-services.json file is missing**. When I checked the gitignore of the repo, this file is added in it. Can you help me out in proceeding further or in generating this file?

[2021-03-13 03:59] infiniteoverflow commented on #11
You can find the link to the file in the project README.md

[2021-03-13 04:35] Praneeth-rdy commented on #11
Yes, found it. Also, The app stays on the login screen itself even after successful login. I am replacing the homescreen in Homescreen.dart with the UI which I made.

[2021-03-13 04:45] infiniteoverflow commented on #11
yes, go ahead.

[2021-03-13 04:58] infiniteoverflow opened #40 "Add SplashScreen"
**Describe the solution you'd like**
We need to add a splash screen to the app which will be shown everytime the user restarts the app.

**Describe alternatives you've considered**
You can use any existing packages from pub.dev or implement your own logic.

Just use an existing image from the assets folder for the Screen and add the text "Libro" so that it looks aesthetic. For any help feel free r

[2021-03-13 05:15] infiniteoverflow commented on #40
Interested Participants can comment on this issue if they want to work on this.

[2021-03-13 05:18] Samdid commented on #40
@infiniteoverflow I would like to work on this issue, please assign it to me

[2021-03-13 05:19] infiniteoverflow commented on #40
Sure , go ahead. Assigning you...

[2021-03-13 05:26] Praneeth-rdy commented on #15
Sure @Souvikns.
I was working on another issue of the same project and created a PR as a part of it. So, I will resolve this issue immediately after my PR is merged.

[2021-03-13 07:38] nicks101 commented on #30
Github Actions that are done :

- [x] Add label `under_review` and `review_requested` when PR is opened.
- [x] Analyze and run test (unit) on ubuntu, windows, and macOS.
- [x] Build apk and ipa and upload to artifacts.

Above jobs run on `pull_request events`.

Github Action to implement
- [ ] upload apk and ipa to firebase distribution.

For the above job, what should be the event?
Also, before u

[2021-03-13 11:56] #11 closed

[2021-03-13 11:57] #36 closed

[2021-03-13 12:14] #20 closed

[2021-03-13 12:18] infiniteoverflow commented on #30
Lets do one thing now , we can use a push event for building the apk. The firebase part let's skip it for now, because we would need the Storage for other purposes of the app, and our apk and ipa will cost around 150MB collectively. Firebase Spark Plan has certain storage limitations.

So , just build an apk everytime a push event occurs.

[2021-03-13 12:34] infiniteoverflow commented on #37
@rohank2502 You can start with this.

[2021-03-13 12:37] nicks101 commented on #30
1. push on `main` branch yes?

2. Also, correct me if I'm wrong but using `firebase app distribution` is free doesn't add any storage.
Reference
- [firebase pricing](https://firebase.google.com/pricing)

[2021-03-13 12:41] infiniteoverflow commented on #30
1. Yes , main branch

2. Oh yes,sorry i kind of missed out on that part.  So you may be able to build the apk only as IPA files require certificates, which currently i dont have. So you go ahead.

[2021-03-13 12:44] infiniteoverflow commented on #30
@nicks101 Just let me know if you have access to the Firebase project or not.

[2021-03-13 12:46] #15 closed

[2021-03-13 12:50] nicks101 commented on #30
I don't have access. Direct messaged my email to you.

[2021-03-13 15:14] #37 closed

[2021-03-13 19:55] nicks101 commented on #30
Hey @infiniteoverflow, after taking pull the latest `main` branch I got several errors and can't run the app :

- `pubspec.yaml` has duplicate dependencies
- `.flutter-plugins-dependencies` is not supposed to be in git, yet it was modified.
- `analysis_options.yaml` was deleted.

[2021-03-13 23:03] #30 closed

[2021-03-14 00:23] infiniteoverflow opened #46 "Screen to Gather User Details"
<img width="291" alt="Screenshot 2021-03-14 at 5 52 05 AM" src="https://user-images.githubusercontent.com/40236624/111053398-6aac6100-8489-11eb-92b9-e47106969481.png">

We need to develop a screen as per the design above. Feel free to modify accordingly. Skip the image picking part , leave a Placeholder in the image section.

Follow the color schemes defined in the file `constants.dart`.

And on c

[2021-03-14 00:25] D-Ajay-Kumar commented on #46
Can take it up

[2021-03-14 00:25] infiniteoverflow commented on #46
Sure , go ahead. Assigning you.

[2021-03-14 00:26] D-Ajay-Kumar commented on #46
Thanks. On it.

[2021-03-14 00:36] infiniteoverflow opened #47 "Add Email Verification screen"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2021-03-14 00:36] #47 closed

[2021-03-14 01:06] infiniteoverflow opened #48 "Add Email Verification Screen"
<img width="512" alt="Screenshot 2021-03-14 at 6 33 52 AM" src="https://user-images.githubusercontent.com/40236624/111054048-3fc50b80-848f-11eb-9781-71d072ae2644.png">

When a user authenticates using Email and password , check whether the user has verified their email. If not , then redirect them to the first screen , and make sure that a verification email is sent. If the user clicks "Continue"

[2021-03-14 05:15] SapinderSingh commented on #48
@infiniteoverflow I want to work on this issue as a participant of GSSOC 21.

[2021-03-14 07:21] Souvikns commented on #48
@SapinderSingh go ahead I am assigning you this issue.

[2021-03-14 07:28] nicks101 opened #49 "onGenerateRoutes Routes"
## feature request related to a problem.
As the project is growing, it'll be difficult to maintain without a route system.

## Solution
Create a routes file `(onGenerateRoute)` and use routes defined in those for navigation.

[Example](https://flutter.dev/docs/cookbook/navigation/navigate-with-arguments#alternatively-extract-the-arguments-using-ongeneratero) of using onGenerateRoute.

Basic struct

[2021-03-14 08:54] SapinderSingh commented on #48
@Souvikns @infiniteoverflow Please provide me the image which is used in the screenshot.

[2021-03-14 09:31] D-Ajay-Kumar commented on #46
Does this seem okay? I've tried to keep the design as close to other forms in the app as possible to maintain the consistency.

![WhatsApp Image 2021-03-14 at 3 00 08 PM](https://user-images.githubusercontent.com/56850266/111063674-0bc10900-84d6-11eb-9206-f23e253a96a7.jpeg)

[2021-03-14 10:07] rohats871 opened #50 "GoogleService-Info.plist Missing [BUG]"
**Describe the bug**
GoogleService-Info.plist is missing which is not letting me work on the app for iOS devices

<img width="1181" alt="Screenshot 2021-03-14 at 3 37 02 PM" src="https://user-images.githubusercontent.com/68010359/111064636-20ec6680-84db-11eb-8281-7b0b68f528aa.png">

[2021-03-14 11:42] infiniteoverflow commented on #46
@D-Ajay-Kumar Kindly add the Profile icon inside the Circle and as you can see in the image that i had shared , theres a small plus button inside a circle towards the bottom of this circle. Kindly add that too.

[2021-03-14 11:43] infiniteoverflow commented on #48
Yes , i will update the repo with the assets soon

[2021-03-14 11:45] infiniteoverflow commented on #49
@nicks101 go ahead. Try to use the first approach , since auto_route is not migrated yet , it might cause an error when we ourselves migrate to a null-safe version.

[2021-03-14 11:46] infiniteoverflow commented on #50
Thanks @rohats871 for mentioning this error. This will be fixed soon.

[2021-03-14 11:46] #50 closed

[2021-03-14 11:49] infiniteoverflow commented on #48
@SapinderSingh You can get started with the work.

[2021-03-14 12:13] rohats871 commented on #50
hey @infiniteoverflow i wanted to work along this project but due to this i wont be even open it , i hope we can resolve this soon :)

[2021-03-14 12:14] infiniteoverflow commented on #50
Yes , this will be resolved soon. Meanwhile you can run the app in Android , it works fine there.

[2021-03-14 12:15] D-Ajay-Kumar commented on #46
How about this? Used stack and positioned to place the small circle over there.

![WhatsApp Image 2021-03-14 at 5 43 03 PM](https://user-images.githubusercontent.com/56850266/111068025-f5727780-84ec-11eb-87dc-8a0d7406f1d4.jpeg)

[2021-03-14 12:16] infiniteoverflow commented on #46
Looks amazing !!

[2021-03-14 12:16] D-Ajay-Kumar commented on #46
And the address field should have a max length of 5 only?

[2021-03-14 12:17] infiniteoverflow commented on #46
Yes , i was about to mention that. Let the max length be 5 lines for now , if it goes beyond it will be scrollable.

[2021-03-14 12:19] infiniteoverflow commented on #50
@rohats871 Updated the link in the README

[2021-03-14 12:30] D-Ajay-Kumar commented on #46
Done. Please check the code :)

[2021-03-14 12:32] #46 closed

[2021-03-14 12:38] rohats871 commented on #50
works perfectly fine now thnx :)

[2021-03-14 12:42] infiniteoverflow commented on #50
No problem

[2021-03-14 15:48] #48 closed

[2021-03-14 18:03] #49 closed

[2021-03-14 18:06] infiniteoverflow opened #54 "RenderFlex Error in Email Verification screen"
The following Bug has been spotted on Pixel 2XL Phones and other phones whose height is less that the same.

<img width="427" alt="Screenshot 2021-03-14 at 10 57 33 PM" src="https://user-images.githubusercontent.com/40236624/111078936-d3ddb400-851d-11eb-88fa-336ed1706bad.png">

Use an expanded widget to set the widget height and make all the widgets fit in the entire screen.

[2021-03-14 19:34] nicks101 opened #55 "Enable firebase crashlytics"
1. Enable crashlytics for project (android and ios app).
2. Send report if and when any crash happens.
3. Send logs in every try catch, specifically the error and stack trace.

[2021-03-15 02:13] amanxnanda commented on #54
Hey @infiniteoverflow  I would like to work on this issue. Thanks

[2021-03-15 02:41] amanxnanda commented on #54
I created a PR for the same

[2021-03-15 03:02] infiniteoverflow commented on #54
Okay sure. @amanxnanda Next time kindly wait for any of the mentors or me to assign you the issue and then you can get started with the PR.

[2021-03-15 03:03] #54 closed

[2021-03-15 03:05] infiniteoverflow commented on #55
I will check with Firebase crashlytics and get back to you on this. Because we don't want to overdecorate the app with all these at this initial stage.

[2021-03-15 03:07] amanxnanda opened #57 "[Feature] Adding Linting Rules"
Adding linting rules would really help in future code reviews as it acts as a pre-code review.
I will also make the code more readable throughout the project.

Lint package from pub.dev

[2021-03-15 03:08] infiniteoverflow commented on #57
We already had an issue for Lint #9 , and it was added successfully. Apparently, i had to take it down due to some reasons. I will add those at a later stage.

Thank you for raising an issue for the same.

[2021-03-15 03:08] #57 closed

[2021-03-15 03:11] nicks101 commented on #55
Yeah, sure. Let me know.

[2021-03-15 03:29] infiniteoverflow commented on #55
@nicks101 You can get started with it.
Just let me if know if you will be able to integrate the iOS app too, if not I will do it from my side.

[2021-03-15 03:31] infiniteoverflow commented on #21
@nicks101 Closing this for now , will add individual issues for each model and let you know about it soon.

[2021-03-15 03:31] #21 closed

[2021-03-15 03:31] #24 closed

[2021-03-15 03:34] infiniteoverflow commented on #40
Update on this @Samdid ?

[2021-03-15 03:48] nicks101 commented on #21
Yeah, better idea.

[2021-03-15 03:49] nicks101 commented on #55
Okay, will let you know.

[2021-03-15 04:56] infiniteoverflow opened #58 "Add Navigation Bar at the bottom of the HomePage"
We need to add a Floating Container at the bottom of the Homepage to facilitate Navigation to the bottom three screens :

- Chat Screen
- Profile Screen
- Notification Screen

Try not to use any packages , simply implement a 3 column Container or an extended FAB in which each column can have an appropriate icon and the name of the section.

Make sure there are padding on all side of this container

[2021-03-15 05:09] Samdid commented on #40
About to complete, will make PR soon

[2021-03-15 05:10] infiniteoverflow commented on #40
Okk sure.

[2021-03-15 05:31] EAsmithaShrree commented on #58
Kindly assign this issue to me, I would like to work on it.

[2021-03-15 05:37] D-Ajay-Kumar commented on #58
Can do it.

[2021-03-15 05:38] infiniteoverflow commented on #58
Sure , go ahead.

[2021-03-15 06:30] D-Ajay-Kumar commented on #58
On it.

[2021-03-15 06:42] D-Ajay-Kumar commented on #58
Is it alright if I create a 3 columned container in the bottomNavigationBar of the home screen scaffold? I don't see the point of extending the FAB for a bottom bar.

[2021-03-15 06:43] D-Ajay-Kumar commented on #58
3 rowed container*

[2021-03-15 06:47] infiniteoverflow commented on #58
We are actually not looking for a BottomNavigation Bar. The main motive of a BottomBar is to give a sliding effect to between the tabs. But here we are Navigating to the screen , so for that BottomBar wont have a good UX.

And instead of FAB , go with a simple container. That will also do.

<img width="182" alt="Screenshot 2021-03-15 at 12 16 43 PM" src="https://user-images.githubusercontent.com/4

[2021-03-15 06:49] infiniteoverflow commented on #58
This will be a tentative design , if we later feel it dosent look good , then we can try other options as well.

[2021-03-15 06:50] D-Ajay-Kumar commented on #58
Okay boss! Will create it that way.

[2021-03-15 07:08] muthuannamalai12 opened #59 "Create Code of Conduct"
I would like to add code of conduct file as code of conduct is a necessary file which the contributors need to follow so that everyone follows a decorum.

[2021-03-15 07:09] muthuannamalai12 commented on #59
I would love to work on this issue as a part of Girl Script Summer Of Code. Kindly assign it to me.

[2021-03-15 07:27] D-Ajay-Kumar commented on #58
![WhatsApp Image 2021-03-15 at 12 56 30 PM](https://user-images.githubusercontent.com/56850266/111117783-f7d8de00-858d-11eb-9732-31d4d41da017.jpeg)

[2021-03-15 07:27] D-Ajay-Kumar commented on #58
How does this look?

[2021-03-15 07:43] Samdid commented on #40
@infiniteoverflow  I am getting so many errors like this, what should I do?
![Libro_error](https://user-images.githubusercontent.com/70087884/111119380-13dd7f00-8590-11eb-8521-f2412728a2d6.png)

[2021-03-15 08:14] amanxnanda commented on #54
I am still new to open source but I will keep this in mind. Thanks.

[2021-03-15 10:14] nicks101 commented on #55
I couldn't integrate for iOS. It needs Runner (Xcode)

[2021-03-15 12:15] infiniteoverflow commented on #58
Looks good , just change the name and icons , and connect a navigator to respective screens. The screens are not created yet , so u may have to create it.

[2021-03-15 12:16] #55 closed

[2021-03-15 12:16] infiniteoverflow commented on #59
Sure @muthuannamalai12  , go ahead.

[2021-03-15 12:17] D-Ajay-Kumar commented on #58
Will those screens be containers or scaffold? Because if we use scaffold then this FAB on home screen will go away when the user will press any button on it to navigate.

[2021-03-15 12:18] infiniteoverflow commented on #58
Yes , let it be Scaffold. We are just using these as a button to Navigate to those screens.

[2021-03-15 12:23] muthuannamalai12 opened #62 "Greeting Bot"
Create a Contributor Greetings Bot.
Every Contributor to an OpenSource Project is special that is why I feel We should add a small GithubAction to give a warm welcome to the contributors.

[2021-03-15 12:23] muthuannamalai12 commented on #62
I would love to work on this issue as a part of Girl Script Summer Of Code. Kindly assign it to me.

[2021-03-15 12:27] #59 closed

[2021-03-15 12:27] infiniteoverflow commented on #62
I am sorry @muthuannamalai12 ,i feel we dont need a WelcomeBot for now. Later we can think about this.

[2021-03-15 12:27] #62 closed

[2021-03-15 12:28] infiniteoverflow commented on #40
Just set your SDK version in pubspec.yaml to sdk: ">=2.7.0 <3.0.0"

[2021-03-15 12:42] D-Ajay-Kumar commented on #58
Okay. Will make the PR in a few minutes.

[2021-03-15 14:00] D-Ajay-Kumar commented on #58
Is it alright if I create a new folder called Widgets to hold this bottom bar widget? The home screen widget is already too long.

[2021-03-15 14:05] infiniteoverflow commented on #58
@D-Ajay-Kumar Add that in the homepage file itself. Anyhow i have to orgaize other widgets , i will look into this at that time.

[2021-03-15 14:05] D-Ajay-Kumar commented on #58
Alright then

[2021-03-15 14:16] D-Ajay-Kumar commented on #58
Done. Please check the code :)

[2021-03-15 14:23] infiniteoverflow commented on #58
Yes , we will review it

[2021-03-15 14:35] adityathakurxd commented on #40
The dependencies listed have unsound null safety. Although I checked both `flutter_switch` and `auto_size_text` have pre-releases available with null safety.

You can try upgrading to those. Or, to run mixed-version programs,
Disable sound null safety using the `--no-sound-null-safety flag` to the flutter command:
[code]

[2021-03-15 15:04] #58 closed

[2021-03-15 18:49] EAsmithaShrree opened #64 "Not Showing the login success popup when the user returns from the Home screen"
I believe that it will be a better user experience if the 'Congrats! Log-in...' popup is not displayed every time the user presses the back button from the Home Screen.

The popup should only appear when he is actually logging into the app and not when he is returning from the homescreen.

![image](https://user-images.githubusercontent.com/74728570/111205025-c3483f00-85ec-11eb-9041-ee99706535e7.pn

[2021-03-15 18:56] EAsmithaShrree opened #65 "Adding a cross button in the login and signup message popups to enhance user experience"
I would like to add a cross button on the top right corner of the popups or a 'Dismiss' button so that it's clearer to the user that they can click on it to close the popups.

![image](https://user-images.githubusercontent.com/74728570/111205996-dc9dbb00-85ed-11eb-919b-8acbba4e3e87.png)

[2021-03-15 20:54] GayatriMunde opened #66 "Changing the app name from "book_donation" to Libro and changing the logo of the app."
The name Libro sounds unique and good. Using it for the actual app is really a great idea.
Also I feel like instead of using flutter logo, using a well designed logo will be good.

![image](https://user-images.githubusercontent.com/69967336/111223722-8c315800-8603-11eb-861e-0d4ff9c46192.png)

[2021-03-16 04:04] infiniteoverflow commented on #64
Yes , we will have to override the back button in the HomePage so that when the user presses back he will be prompted to "Press back again" to exit the app rather than going back to the login page.

[2021-03-16 04:05] infiniteoverflow commented on #65
Yes , we need to add a Close button on the top. Would you like to work on it ?

[2021-03-16 04:07] EAsmithaShrree commented on #65
Yes, I would like to do it!! I am a GSSOC'21 participant by the wayy

[2021-03-16 04:08] EAsmithaShrree commented on #64
Can I go ahead and try working on it or are we leaving it for later?

[2021-03-16 04:09] infiniteoverflow commented on #66
Yes , we need to change the logo and the app name. Would you like to work on this issue ?

[2021-03-16 04:09] infiniteoverflow commented on #65
You can start with this , once this is done , i wil assign you the other issue.

[2021-03-16 04:11] infiniteoverflow commented on #64
Work on this once the other issue is solved. And comment here once you start with this.

[2021-03-16 04:34] GayatriMunde commented on #66
Yes I would like to work on this issue.

[2021-03-16 07:05] #66 closed

[2021-03-16 07:33] namancoder commented on #40
Can i work on this issue?

[2021-03-16 07:34] namancoder opened #68 "forgot password?"
I think we should also add a forgot password feature in the app.

[2021-03-16 09:49] Maitrey185 commented on #68
I would like to work on this feature, can you please assign it to me?

[2021-03-16 13:14] Souvikns opened #69 "[BUG]Firebase Crashlytics for IOS"
**Describe the bug**
The app is not running in IOS as firebase crashlytics is not set up for IOS

[2021-03-16 13:14] Souvikns commented on #69
@rohats871 I am assigning this issue to you

[2021-03-16 13:58] Souvikns commented on #69
@rohats871 @infiniteoverflow has already worked on this, and he will be pushing the code shortly

[2021-03-16 15:34] #68 closed

[2021-03-16 15:34] #69 closed

[2021-03-16 15:37] rohats871 commented on #69
oh okay thats a good news plus i will also love to know what he did

[2021-03-17 03:11] infiniteoverflow commented on #69
@rohats871 I have updated the repo to support Firebase Crashlytics on iOS. Do have a look and feel free to reach out to use in case you have any doubts.

[2021-03-17 03:11] infiniteoverflow commented on #40
@Samdid Are you working on this ?

[2021-03-17 03:12] infiniteoverflow commented on #40
@namancoder As this issue is already assigned to a participant , we cant assign you this one now.

[2021-03-17 03:42] infiniteoverflow opened #70 "UserDetails Screen : Image Picker"
We need to fix the following bug with the InfoScreen :

<img width="387" alt="Screenshot 2021-03-17 at 9 04 33 AM" src="https://user-images.githubusercontent.com/40236624/111411522-b7e63800-8700-11eb-89d3-a665453e2962.png">

The Circular Image should be resized a bit lesser than it is now, and position the blue "+" icon towards the bottom of the CircleAvatar on its border.

[2021-03-17 04:18] Neha62-lit commented on #70
@infiniteoverflow I would like to work on this issue!!

[2021-03-17 04:21] infiniteoverflow commented on #70
Sure go ahead !!

[2021-03-17 05:13] Samdid commented on #40
Yes

[2021-03-17 05:24] D-Ajay-Kumar commented on #70
Is there any way to permanently fix the relative position of two widgets? Like these 2 circles here.

[2021-03-17 10:44] #70 closed

[2021-03-17 14:51] rakshitkamboj opened #72 "Add Spinner in Login_Screen"
**Problem**
After clicking login button for a while it looks like the app is stuck till the home_screen appears. To show the progress to the user I would like to add a spinner that will indicate the progress to the user.

**Solution**
I will be using modal_progress_hud library for that.

[2021-03-18 04:54] amanxnanda opened #73 "Create profile page"
**Is your feature request related to a problem? Please describe.**
Right now Libro doesn't have any profile page for the user.

**Describe the solution you'd like**
I would like to make a profile page if given the design.

[2021-03-18 04:56] infiniteoverflow commented on #72
@rakshitkamboj Since this package shows an overlay progress bar, is there any option to cancel the "Loading" in case an error is returned from the server.
For eg : We will be running the loader while waiting for the response from Firebase. In case, the network is lost while fetching data, then i believe the Loader will run in an infinite loop.

[2021-03-18 04:57] infiniteoverflow commented on #73
@Souvikns Can you share the Profile Screen UI if its ready.

[2021-03-18 04:58] infiniteoverflow commented on #65
@EAsmithaShrree Any updates on this ?

[2021-03-18 04:58] amanxnanda opened #74 "[Feature] Add Notification Screen"
**Is your feature request related to a problem? Please describe.**
Adding a notifications page where users can view all the push notifications.

**Describe the solution you'd like**
We can try to implement the listview where each tile can be slided to dismiss the notification just like Gmail.

**Describe alternatives you've considered**
Or we can try some other approach given the design.

[2021-03-18 05:04] infiniteoverflow commented on #74
Yes , we can plan for the same approach using a package : slidable

But implementing the Notification will take some time. It has many other works that have to be completed. So we will be working on this issue in the next phase of GSSOC.

For now, i will be closing this issue, but the team will notify u once we get started with the work.

[2021-03-18 05:04] #74 closed

[2021-03-18 05:15] rakshitkamboj commented on #72
@infiniteoverflow Okay I got your point.
To avoid that I will be using a boolean. In case, the network is lost then it will simply turn to false and the network Error will be shown.

[2021-03-18 05:18] Borahb opened #75 "Package Issue in pubsec.yaml"
hive_flutter 1.0.0 requires SDK version >=2.12.0 <3.0.0 and no versions of hive_flutter match >1.0.0 <2.0.0, hive_flutter ^1.0.0 is forbidden.
![Screenshot (458)](https://user-images.githubusercontent.com/49881148/111576918-678dd980-87d7-11eb-844e-e3b23a50ca18.png)

Can I solve it?
#gssoc21

[2021-03-18 05:19] infiniteoverflow commented on #72
@rakshitkamboj In that case you may have to use Booleans for all perceived errors , but there are some errors that we cant anticipate also...

for that i would suggest , using a snackbar to show the loading , and it also has a timer right , if the time gets over u can specify what msg has to be shown...

[2021-03-18 05:22] infiniteoverflow commented on #75
I am sorry @Borahb , this just requires changing 2.7.0 to 2.12 , which cant be considered as a moral PR...

Anyhow , appreciate you raising this issue. Feel free to work on any existing issue or raise any bugs or ui changes you would like to work on.

And if you would like to run the app , just change the versions in your PC and run the app.

[2021-03-18 05:22] #75 closed

[2021-03-18 05:23] infiniteoverflow commented on #40
@Samdid Can you please make a PR for the same as soon as possible. An issue cant be assigned to a particular participant for more than 7 days.

If you are facing any issues , do reach out to me.

[2021-03-18 05:44] EAsmithaShrree commented on #65
Almost done with this

On Thu, Mar 18, 2021 at 10:28 AM Aswin Gopinathan ***@***.***>
wrote:

[2021-03-18 05:45] amanxnanda commented on #74
@infiniteoverflow okay

[2021-03-18 05:47] Samdid commented on #40
@infiniteoverflow actually, I was having an issue in my PC so I had reset my PC so now I have to reinstall and setup my all the IDEs so it is taking some time. I already mentioned this in the discussion section yesterday but I will make PR soon

[2021-03-18 06:07] infiniteoverflow commented on #40
Okk , i missed your message in the discussion.

Sure, fix your PC properly and get started...try to finish it within 2 days. If not do let me know.

[2021-03-18 06:08] rakshitkamboj commented on #72
@infiniteoverflow Okay.
So you meant that I should use snackbar when clicked on login button and it will show a message in it "Loading" till it switches to Home screen and if the time limit extends then it will a error message.
Right?

[2021-03-18 06:12] Samdid commented on #40
Sure👍 thanks

[2021-03-18 06:13] infiniteoverflow commented on #72
yes , correct.

A Snackbar with "Logging you in..." with a CircularProgressIndicator at the end. And if it timesout , show an error message like "Login Failed , try again later"

[2021-03-18 06:16] rakshitkamboj commented on #72
Thanks @infiniteoverflow for assigning it to me .
I will try my best .

[2021-03-18 06:17] infiniteoverflow opened #76 "Add Double-back Exit on Homepage"
We need to override the back button and implement the "Double-back to Exit" feature.

You can use this package : https://pub.dev/packages/double_back_to_close_app

[2021-03-18 06:17] infiniteoverflow commented on #72
Sure. Feel free to reach out to me in case you have any doubts.

[2021-03-18 06:26] D-Ajay-Kumar commented on #76
Can do it.

[2021-03-18 08:42] rohats871 opened #77 "Adding better Icons [Feature]"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2021-03-18 09:48] anotherwebguy commented on #76
I can work on this issue @infiniteoverflow

[2021-03-18 17:05] PrathmeshSadake opened #80 "Optimized images by 17%"
optimized images to 17% using imgbot. Please assign this task to me under GSSOC21 label. I have already created pull request with mentioned changes. As a GSSOC21 participant please merge this under gssoc21 label

[2021-03-19 02:34] infiniteoverflow commented on #77
@rohats871 The issue description should explain what you are planning to work on. Dont leave it as it is on default. Kindly update the issue description.

[2021-03-19 02:35] infiniteoverflow commented on #76
I am sorry @anotherwebguy , Since @D-Ajay-Kumar has commented on this issue first , it will be assigned to him. Do look out for more issues or feel free to raise an issue of your own.

[2021-03-19 03:43] Souvikns commented on #73
![Profile Page](https://user-images.githubusercontent.com/41781438/111728610-3a066600-8893-11eb-89c7-f1ba8cff534d.png)

[2021-03-19 08:43] D-Ajay-Kumar commented on #76
On it

[2021-03-19 09:54] D-Ajay-Kumar commented on #76
The double back exit is working but it's taking user to the login screen again where there's an alert dialog that says "Login complete enjoy the app". Should it be like that? This alert dialog seems kinda useless coz why would anyone want to see a dialog box after logging in to confirm the login has been successful, not to mention it doesn't occur after logging in, only when double back is pressed

[2021-03-19 10:03] D-Ajay-Kumar commented on #76
And this is happening coz after logging in there is a navigator that pushes the home screen on top of the login screen because of which the user can press the back button and go to this login screen again without pressing the logout button. There should instead be a push replacement so that the back button closes the app. And when the logout button is pressed, this home screen should be replaced w

[2021-03-19 13:07] infiniteoverflow commented on #76
@D-Ajay-Kumar use `SystemNavigator.pop()` to close the app. Dont perform navigation to the login screen. That is something that we dont need in the app.
Once a person double clicks back button , the app should close.

[2021-03-19 20:40] suraj0223 opened #81 "Authentication Password"
**Some Strict rules can be defined while creating a while SignUp**

A generalized password must be _6 characters long_, should contain a _numeric character_, should contain an _UpperCase character_, should contain a special symbol from **[ !, @,#,$,%,^,&,*]**.

**Solution**
This can be easily improved by using a strong validator while signup in the password validator section.

[2021-03-19 20:43] suraj0223 commented on #81
@infiniteoverflow I would like to improve this feature in the application, so that Users can signup with a strong password.

[2021-03-19 21:14] D-Ajay-Kumar commented on #76
Done. Please check the code :)

[2021-03-20 02:32] infiniteoverflow commented on #81
@suraj0223 Thanks for creating this issue. But since we are using Firebase Authentication for Signing the user , it already provides Validation from Firebase.

You can do one thing. Firebase returns an exception when the password doesn't meet its criteria, so u can try to validate those exceptions and show a snackbar or something to denote an error.

Can you work on that ?

[2021-03-21 02:20] suraj0223 commented on #81
yeah, sure I will work on that.  I will do my research on exceptions returned by firebase. If you find any resource related to the same kindly share.

[2021-03-21 02:51] infiniteoverflow commented on #81
Actually there might be only one exception returned for password... You can check that by going to the sign up screen , enter a very small password and check its output on the console.

[2021-03-21 02:53] infiniteoverflow commented on #40
@namancoder Would you like to work on this issue? Unfortunately Samdid wont be able to work on this.

[2021-03-21 03:07] namancoder commented on #40
On it

[2021-03-22 00:34] #77 closed

[2021-03-22 00:35] #80 closed

[2021-03-22 04:14] amanxnanda commented on #73
Hey, @Souvikns  can you please provide me the color values. Thanks

[2021-03-22 04:38] Shreya20-10 commented on #40
I would like to work on this issue!!

[2021-03-22 04:57] amanxnanda commented on #73
@infiniteoverflow @Souvikns can you please give me your feedback
<img src = "https://user-images.githubusercontent.com/34944818/111941992-5e16b100-8af8-11eb-9ddc-9efffc57d8cb.png" height = "500">

[2021-03-22 05:00] Souvikns commented on #73
#f7f5fb
#f4f1fa
#002253
#e9e2f4
#9575cd

[2021-03-22 05:01] Souvikns commented on #73
try to make the users image a little bit big and reduce the size of the name, so that the first focus would be the image rather than the text.

[2021-03-22 07:16] namancoder commented on #40
@infiniteoverflow  i am having little trouble in understading the code base and thus putting the splash screen file in order, can someone please help me in it?

[2021-03-22 07:35] adityathakurxd commented on #40
@Shreya20-10  As this issue is already assigned to a participant, we cant assign you this one now.

[2021-03-22 08:40] amanxnanda commented on #73
How does it look now?
<img src = "https://user-images.githubusercontent.com/34944818/111962330-31729180-8b18-11eb-81f5-9e0c5318ec55.png" height = "500">

[2021-03-22 11:49] #40 closed

[2021-03-22 12:04] #65 closed

[2021-03-22 12:07] #81 closed

[2021-03-22 12:11] #76 closed

[2021-03-22 12:12] infiniteoverflow commented on #73
Looks good to me. @Souvikns ?

[2021-03-22 15:45] amanxnanda commented on #73
Okay, then I'll just create a PR.

[2021-03-22 15:58] amanxnanda commented on #73
@infiniteoverflow I have a question, why IntelliSense is not working for this project?

[2021-03-23 03:32] infiniteoverflow commented on #64
@EAsmithaShrree Something similar has been already done by some participant. Sorry about that , we will add some more new issues soon and u can work on those.

[2021-03-23 03:32] #64 closed

[2021-03-24 02:13] #72 closed

[2021-03-24 14:34] rohats871 opened #89 "Add home_screen & email_verfication_screen imports in the Login_screen.dart [BUG]"
**Describe the bug**
without the imports for home screen and email_verfication_screen it gives an build error for iOS devices which can be fixed by just adding them in the Login_screen.dart file.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Login_screen.dart'
2. on top add the imports
3. Save & run

**Smartphone:**
 - Device: [e.g. iPhone8 to 12]

[2021-03-26 14:44] SapinderSingh commented on #89
I can work on this issue. Please assign it to me under GSSOC 21

[2021-03-26 14:53] muthuannamalai12 opened #90 "Add github action to auto label issues"
Add GitHub action to auto label issues with gssoc21 label when contributor asks to work under gssoc21.

[2021-03-27 03:07] infiniteoverflow commented on #90
@muthuannamalai12 sure go ahead.

[2021-03-27 15:46] EAsmithaShrree opened #91 "Wrapping the text when it is too long"
When the name of the book or the author is unexpectedly too long, it is taking all the space that is available. However, I feel that all the information must look at least a little uniform.

Hence, I propose that we either add the ellipsis or the fade feature when the name is too long. Or, another option would be to just let it extend vertically instead of letting it take up horizontal space.

![i

[2021-03-28 01:25] SapinderSingh commented on #91
I can work on this issue under GSSOC 21. Please assign it to me.

[2021-03-28 01:28] EAsmithaShrree commented on #91
@infiniteoverflow since I opened the issue, I was hoping that it will be assigned to me if you decide that we must work on this issue.

[2021-03-29 20:53] pawan2806 opened #93 "Migrating the app to Null Safety"
**Is your feature request related to a problem? Please describe.**
With null safety, you can reason about your code with more confidence. No more pesky runtime null dereferencing errors in deployed apps. Instead, you get static errors as you code. ~ dart officials

**Describe the solution you'd like**
Migrate the app to Null Safety

**Describe alternatives you've considered**
A clear and concise d

[2021-03-30 14:16] DOOMSTERR opened #94 "Modifying and Styling Readme.md file"
## Request ✨
Hello sir, I want to modify the readme.md file.

## Detailed Description

### Modifying it by adding

1.)Adding shield batches in different colors for(at center-top):
-> issues-open
-> pull_request-open
-> total no. of forks
-> total no. of stars

2.) Sections
->Feature Section
->In Contributor Section adding

-> I'll also be adding emojis to make it look more attractive and beautiful

[2021-04-02 06:09] EAsmithaShrree commented on #91
@infiniteoverflow May I work on this?

[2021-04-04 04:12] #90 closed

[2021-04-04 04:12] infiniteoverflow commented on #89
@rohank2502 This was an issue with missing imports , it has been fixed , thank you.

[2021-04-04 04:12] #89 closed

[2021-04-04 04:12] infiniteoverflow commented on #91
Sorry for the late reply @EAsmithaShrree  , yes you can start with this.

[2021-04-04 04:13] infiniteoverflow commented on #91
You can use TextOverflow attribute of the Text Widget for the same.

[2021-04-04 04:14] infiniteoverflow commented on #93
Sorry for the late reply @pawan2806  , as of now we are not planning on migrating to null-safety as new comers might face issues with the new syntax. Eventually by the end of the season we will migrate it all together.

[2021-04-04 04:14] #93 closed

[2021-04-04 04:15] infiniteoverflow commented on #94
Sure go ahead @DOOMSTERR

[2021-04-04 04:22] infiniteoverflow opened #95 "Add a "Loading snackbar" during SignUp"
In the signup screen, when a user clicks "Sign-up", nothing is shown until the firebase auth registers the user successfully and gives a callback.

So we need to integrate a snackbar saying "Creating your account..." with a loader at the end. The same has been integrated for Login , u can use the same.

[2021-04-04 04:23] infiniteoverflow opened #96 "Modify Verification screen"
<img width="380" alt="Screenshot 2021-04-04 at 9 49 09 AM" src="https://user-images.githubusercontent.com/40236624/113498548-83111800-952b-11eb-8e43-ab671eaac810.png">

We need to add some padding at the bottom, such that the button doesn't get stuck at the bottom.

[2021-04-04 04:26] Neha62-lit commented on #96
@infiniteoverflow I would like to work on this issue!!

[2021-04-04 04:26] infiniteoverflow opened #97 "Modify the "Verified" dialog"
<img width="397" alt="Screenshot 2021-04-04 at 9 49 39 AM" src="https://user-images.githubusercontent.com/40236624/113498594-fb77d900-952b-11eb-8c20-006a62742377.png">

The current ui design looks a bit odd, let's try some better designs for the same. Feel free to use any good package u find in pub.dev

[2021-04-04 04:27] infiniteoverflow commented on #96
Sure , you can go ahead.

[2021-04-04 04:43] Samdid commented on #97
@infiniteoverflow I would like to work on this please assign it to me. Also, I am a GSSOC participant

[2021-04-04 04:49] infiniteoverflow commented on #97
Sure , go ahead.

[2021-04-04 10:11] Souvikns commented on #73
@amanxnanda we need to close this issue soon, so we are giving you 2 days' time after that we will assign this issue to someone else.

[2021-04-04 15:52] nicks101 commented on #95
can I work on it?

[2021-04-05 04:57] infiniteoverflow commented on #95
sure go ahead @nicks101

[2021-04-05 04:59] aishux opened #98 "[Feature]"
**Is your feature request related to a problem? Please describe.**
Add GitHub action to auto label issues with gssoc21 label when contributor asks to work under gssoc21. As it takes time for the maintainer to add labels, I can add a script that can auto-label issues with the GSSOC21 label whenever contributors ask to work under that label.

**Describe the solution you'd like**
A script in .github

[2021-04-05 05:21] #98 closed

[2021-04-05 11:33] EAsmithaShrree opened #101 "Adding a side drawer"
Can I please add a sidebar that will have the name of the app, logo, and an 'About' section that will explain what this app is about. It can also have the username so that the user can quickly find out with which account he or she has logged in. I believe that in the future there will be more things as well that we could display in this sidebar.

The sidebar can be added to the left of the search

[2021-04-06 13:23] anirudhsai20 opened #105 "Grammatical error in the Readme file"
There is a small grammatical error in the Readme file that needs corretion.

[2021-04-06 13:23] anirudhsai20 commented on #105
Hi! Please assign this issue to me under GSSOC.

[2021-04-06 14:18] anotherwebguy commented on #101
Can i work on this issue under gssoc plz assign me this issue

[2021-04-09 06:14] EAsmithaShrree commented on #101
Hello, I was under the assumption that the contributor who creates an issue will automatically be given first priority for resolving the issue as well. Is that not how it works? I am interested in working on this issue, hence please assign it to me.

[2021-04-09 06:18] anotherwebguy commented on #101
sorry , yeah sure u must be assigned it first i'am here to help if u need

[2021-04-11 20:08] SamarpanCoder2002 opened #106 "Share a Book Via Other Apps"
**Is your feature request related to a problem? Please describe.**
If anyone want to share books via link through social media, this feature till not added....

**Describe the solution you'd like**
A menu icon, with every book information, gives access to share the book link through social media....

**Describe alternatives you've considered**
Mentioned Above

**Additional context**
I am also a GS

[2021-04-12 11:48] #96 closed

[2021-04-12 11:49] #91 closed

[2021-04-12 11:51] #95 closed

[2021-04-13 07:26] #94 closed

[2021-04-13 07:29] infiniteoverflow commented on #105
I am sorry , i cant assign an issue for grammatical changes. It is against the norms of OpenSource Contribution. Feel free to look for some other documentation updates or even for code changes/bugs.

[2021-04-13 07:29] #105 closed

[2021-04-13 07:30] infiniteoverflow commented on #101
I am sorry , this issue will be assigned to @EAsmithaShrree . sorry for the late response , i was caught up with some personal issues.

@EAsmithaShrree You can get started with this.
@anotherwebguy Feel free to raise new issues for any new ideas u have.

[2021-04-13 07:32] infiniteoverflow commented on #101
@EAsmithaShrree If you could add a About Page with description of the app and an appropriate illustration from undraw.com, i can give u a label 3 for the PR.

[2021-04-13 07:33] infiniteoverflow commented on #106
@SamarpanCoder2002 , this will be helpful only when we add a real book. For now we are adding dummy data.

We will get back to u once we work on this.

[2021-04-13 07:33] #106 closed

[2021-04-13 07:33] infiniteoverflow commented on #97
@Samdid update on this ?

[2021-04-13 07:35] anotherwebguy commented on #101
Hey @infiniteoverflow plz.let me know if there's anything else left to design

[2021-04-13 07:37] infiniteoverflow commented on #101
Sure @anotherwebguy , we will have enough work. We will update u soon on the same

[2021-04-13 07:37] anotherwebguy commented on #73
Can i work on this issue plz assign me this issue
@infiniteoverflow @Souvikns

[2021-04-13 07:39] infiniteoverflow commented on #73
Sure go ahead @anotherwebguy

[2021-04-13 19:35] EAsmithaShrree commented on #101
Yes I can do this work.

[2021-04-14 04:02] anotherwebguy commented on #73
why does intellisense doesn't work for this project ? @infiniteoverflow

[2021-04-14 04:58] anotherwebguy commented on #73
hey @infiniteoverflow
is this good?
![image](https://user-images.githubusercontent.com/66346161/114656663-1c9aaf80-9d0c-11eb-83f5-389754c0704d.png)

should i  make a pr now?

[2021-04-15 04:34] anotherwebguy commented on #73
Hello sir plz reply should i make a pr? @infiniteoverflow @Souvikns

[2021-04-15 05:04] infiniteoverflow commented on #73
Looks wonderful @anotherwebguy , go ahead and make a PR

[2021-04-15 05:14] anotherwebguy commented on #73
Ok thanks @infiniteoverflow

[2021-04-15 05:31] anotherwebguy opened #108 "Adding Chat Screen"
**Is your feature request related to a problem? Please describe.**
I would like to design the chat screen ui for the app, plz let me work on this issue @infiniteoverflow

[2021-04-19 03:25] anotherwebguy commented on #108
Plz assign me this issue @Souvikns @infiniteoverflow @adityathakurxd @pratyushmp

[2021-04-19 12:12] #73 closed

[2021-04-20 17:20] Ronak8602 opened #109 "Login Using Twitter"
When I checked out this application I saw that login with twitter is not working.
So I can write a separate dart file for login with Twitter which will provide user one more login functionality.
So can I work on this issue @infiniteoverflow @Souvikns and all other leaders
I am a *GSSOC 21* participant

[2021-04-21 04:26] infiniteoverflow commented on #109
Sure @Ronak8602  , go ahead !! If u need any keys do let me know

[2021-04-21 04:26] anotherwebguy opened #110 "Adiing Gssoc'21 Label to issue and pr's"
i would like to create workflow to automatically add Gssoc'21 label to issue's and pr's

plz assign me this issue @infiniteoverflow

[2021-04-21 04:28] #110 closed

[2021-04-21 04:30] infiniteoverflow commented on #108
@anotherwebguy you can get started with this. Just build a chat screen and later we will integrate firebase and other logics.

for testing purpose you can do something like this : The first message that is entered will be shown on the right (user message) , and the second message that is submitted can be shown on the left (reply message) and so on.

[2021-04-21 04:31] infiniteoverflow commented on #108
And also add an emoji picker too , which can be inserted along with the text message

[2021-04-21 04:34] anotherwebguy commented on #108
Okay i'll do it

[2021-04-21 18:01] Ronak8602 commented on #97
If there's no response till now from @Samdid can I work on this issue . I know a better flutter package which I can match with the application default UI @infiniteoverflow

[2021-04-21 18:13] Ronak8602 commented on #109
@infiniteoverflow  Please add me as a collaborator in Firebase Project
Email:- ronakprajapati107@gmail.com

[2021-04-23 02:13] infiniteoverflow commented on #97
@Ronak8602 , u can get started with this.

[2021-04-23 02:14] infiniteoverflow commented on #109
Added , kindly check ur mail

[2021-04-23 16:48] Ronak8602 commented on #97
I have created a alert dialog using giphy package
![Screenshot_2021-04-23-22-13-52-213_com example book_donation](https://user-images.githubusercontent.com/54980955/115903734-8e4bc980-a481-11eb-84b4-a7a9b92e1afb.jpg)
The verify tick image is an giphy which zoom in's and zoom out's
If perfect that I can create a PR @infiniteoverflow

[2021-04-23 17:36] Ronak8602 commented on #109
Hey @infiniteoverflow This process requires a twitter developer account so can you add me as collaborator to your twitter developer account
I need API key and API login key to proceed further or if you can just provide me keys.

[2021-04-24 04:04] infiniteoverflow commented on #109
yeah sure , i will update u the same by evening.

[2021-04-24 14:50] Ronak8602 commented on #97
Hey @infiniteoverflow  should I make more modifications

[2021-04-25 01:45] infiniteoverflow commented on #109
@Ronak8602 Kindly DM me on Discord , will share u the credentials

[2021-04-25 01:46] infiniteoverflow commented on #97
Go ahead @Ronak8602 , make a PR

[2021-04-25 01:46] #108 closed

[2021-04-25 05:40] #97 closed

[2021-04-27 16:24] EAsmithaShrree opened #114 "Sign up Page validation : when passwords don't match"
On the signup page, no error is thrown when the content in fields 'Password' and 'Confirm Password' don't match. The user is allowed to signup to the app even if different inputs are given in both fields.

I would like to add the necessary validation to avoid this.

![image](https://user-images.githubusercontent.com/74728570/116277412-1217f580-a7a3-11eb-84fe-10c24cbae3db.png)

[2021-04-29 10:53] anotherwebguy commented on #101
Can i work on this issue now since it's been 16 days and i've already shown you the ui how would i design this side drawer plz assign me this issue
@infiniteoverflow

[2021-04-29 17:30] #101 closed

[2021-04-29 17:31] infiniteoverflow commented on #114
Sure @EAsmithaShrree , you can get started with this.

[2021-04-29 17:33] infiniteoverflow opened #115 "Create About Us Page"
We need to create a Contact Us Page , that can give a brief overview of the app , and then at the end show the list of our amazing contributors.

You can use the same code used in our README.md file to show the Contributors list. You just need to figure how to render a Markdown file in dart code.

[2021-04-30 01:50] anotherwebguy opened #116 "Notifications screen"
I would like to create the notifications screen layout for the app plz assign me this issue under gssoc @infiniteoverflow

[2021-04-30 12:32] EAsmithaShrree commented on #114
Hey, so I noticed that validators have been written for all TextFormFields but _signUpFormKey.currentState.validate() hasn't been called. But FirebaseCrashlytics catches most of the errors and shows an alert box for each. As of now, I have added a condition to check both passwords and show an alert box if they don't match (when the signup button is clicked).

However, if you want I can just call t

[2021-04-30 12:35] EAsmithaShrree opened #117 "Adding a 'LOG OUT' option"
Shall I add a 'Log out' functionality for users to log out of the app when they want to?

I was thinking that I could add this option in the side drawer and in the Profile Screen.

[2021-05-01 05:59] anotherwebguy commented on #116
hey plz assign me this issue @infiniteoverflow  @Souvikns @pratyushmp

[2021-05-01 12:38] infiniteoverflow commented on #114
@EAsmithaShrree Try using snackbars to show errors...showing an alertbox wont have a good user experience

Using FirebaseCrashlytics wont be an ideal way to validate the fields... can u do it manually using .validate(). And u need to check for one more condition ie, password == confirmPassword

You can add a manual check for the same once the normal validate() is run , if they are not same you can

[2021-05-01 12:39] infiniteoverflow commented on #109
@Ronak8602 Are you working on this ?

[2021-05-01 12:40] infiniteoverflow commented on #116
Yes , @anotherwebguy You can get started with this. First create a notification template and then run it over using ListView.builder()
Once done, just confirm the ui with us and then later proceed with the PR.

[2021-05-01 12:41] infiniteoverflow commented on #117
Yes you can go ahead with this. First try to finish the earlier issue that u are working on, then u can start with this.

[2021-05-01 12:46] EAsmithaShrree commented on #117
Yes sure. Will finish that one first and then move on to this.

On Sat, 1 May, 2021, 6:12 PM Aswin Gopinathan, ***@***.***>
wrote:

[2021-05-01 12:47] infiniteoverflow commented on #117
Sure...

[2021-05-01 13:00] anotherwebguy commented on #116
Yeah sure @infiniteoverflow

[2021-05-03 05:41] EAsmithaShrree opened #119 "Checking if user is already logged in"
Heyy I would like to check if the user is already logged in and if he is, then I want to ensure that he doesn't have to enter his credentials and log in again. Only if he logs out, he will have to enter his email and password and log in. Kindly let me work on this issue!

[2021-05-03 11:19] anotherwebguy commented on #116
![image](https://user-images.githubusercontent.com/66346161/116869997-5a199b00-ac2f-11eb-8509-c6685fc0d866.png)
![image](https://user-images.githubusercontent.com/66346161/116870005-5dad2200-ac2f-11eb-9e66-cc3ff6ee1921.png)

hello @infiniteoverflow  i'am done with the template layout
should i make the pr now?

[2021-05-04 01:37] #117 closed

[2021-05-04 01:38] infiniteoverflow commented on #119
This feature has already been integrated @EAsmithaShrree . So i may have to close this issue. But feel free to create new issues for creative ideas !!

[2021-05-04 01:38] #119 closed

[2021-05-04 01:38] infiniteoverflow commented on #116
Yes , @anotherwebguy You can go ahead. It looks good.

[2021-05-04 01:39] infiniteoverflow commented on #114
@EAsmithaShrree Is this issue fixed ?

[2021-05-04 04:31] EAsmithaShrree commented on #114
Not yet, I wanted to resolve my doubts because I wasn't extremely sure
about what you wanted. Will work on it now.

On Tue, May 4, 2021 at 7:09 AM Aswin Gopinathan ***@***.***>
wrote:

[2021-05-04 04:34] EAsmithaShrree commented on #119
But it asks me to enter my credentials and log in each time I want to use the app. Is it a problem with my code then? But I used upstream to keep my code updated!

[2021-05-06 04:04] anotherwebguy opened #122 "Book description page"
I would like to design the book description page under gssoc. Plz assign me this issue @infiniteoverflow

[2021-05-06 05:33] EAsmithaShrree opened #123 "Username during signup"
I would like to ask the user to enter their username also during signup so that we can use their name inside the app to make our page look more personalized with their name on it.

For example,

Hi **Arun,** here are today's top picks for you....

[2021-05-07 06:55] Ronak8602 commented on #109
@infiniteoverflow Yes completed Just creating a PR

[2021-05-11 15:09] infiniteoverflow commented on #122
Sure , create a screen that takes in an image link to the book cover , and the name of the book as a parameter and display those details on the screen for now. Later we will think of adding descriptions and all.

[2021-05-11 15:10] #114 closed

[2021-05-11 15:29] anotherwebguy commented on #122
Sure i'll make the ui as such so that it can be also be used for description in future if wanted

[2021-05-12 05:04] SapinderSingh opened #125 "Categories Screen"
**Is your feature request related to a problem? Please describe.**
Nothing happens when user clicks on see all button of the categories column.

**Describe the solution you'd like**
My solution will be to navigate the user to a new screen, which will display all the available categories.

[2021-05-12 15:39] EAsmithaShrree opened #127 "Replacing the hard coded text in Main Drawer"
I want to replace the hardcoded text in the MainDrawer with the user's userName, email ID and display the first two letters of his userName in the circular avatar.

[2021-05-12 15:43] infiniteoverflow commented on #127
@EAsmithaShrree i am afraid i cant assign a separate issue for changing the name. Can you do that in your latest PR itself ?

[2021-05-12 15:43] #127 closed

[2021-05-12 15:44] infiniteoverflow commented on #125
@SapinderSingh , currently we have plans on changing that categories option. We will let u know when we start work on that.

[2021-05-12 15:44] #125 closed

[2021-05-12 16:29] SapinderSingh commented on #115
@infiniteoverflow I can work on this issue, as a participant of GSSOC 21

[2021-05-12 16:56] #123 closed

[2021-05-12 17:01] infiniteoverflow commented on #115
Sure , go ahead.

[2021-05-12 17:22] EAsmithaShrree opened #128 "Profile screen enhancement"
I just noticed that in the Profile Page we are displaying an image. Will it be the image that the user uploads? If yes, then I would like to try out working on getting the image for the profile picture and updating it. I was thinking that if the user doesn't upload an image, then we could just add the first two letters of the user's name as we did in Main Drawer.

[2021-05-13 07:21] madhuvanthi27 opened #129 "Text on the button not getting displayed completely in the Intro Screen[BUG]"
**Describe the bug**
It appeared as "CONTIN" instead of "CONTINUE" on the button in the opening page (intro_screen) on my phone. Some letters on the button go missing.

**To Reproduce**
Steps to reproduce the behavior:
1. When a user opens the app for the first time, the intro screen appears.
2. When a user logs out, they are redirected to the intro screen.

**Expected behavior**
It should appear

[2021-05-13 07:23] madhuvanthi27 commented on #129
I would like to work on this issue as part of GSSOC'21.

[2021-05-14 06:59] SapinderSingh commented on #115
@infiniteoverflow The best way to fetch the contributors is from GitHub API.

Using this url - api.github.com/repos/infiniteoverflow/libro/contributors,

However, they allow only few unauthenticated requests. Kindly, configure GitHub api for this project.

[2021-05-15 17:03] infiniteoverflow commented on #129
Sorry for the late reply @madhuvanthi27  , You can go ahead and fix this.

[2021-05-15 17:04] infiniteoverflow commented on #128
Yes , u can for now go ahead and add the first two letters of the name as the icon. Later once we setup the database , u can fetch the image from Firebase.

[2021-05-15 17:08] infiniteoverflow commented on #115
Yeah , i will configure the api for this project. Meanwhile u can work on with url itself... i believe it will let u run enough requests for now for building the ui...

And this api requires that u create a Model class and a separate util file for running the api request. Should i create those for u , or will u create it ?

[2021-05-15 23:54] SapinderSingh commented on #115
@infiniteoverflow I will create those files.

[2021-05-16 06:57] madhuvanthi27 commented on #129
Sure. No problem. Should I change "continue" to "GO" or just fix "continue"?

[2021-05-16 08:58] SapinderSingh opened #132 "The method 'substring' was called on null. Error coming in drawer."
**Describe the bug**
If user don't logs in using google, we don't have user's name, but we have to display something on the drawer, if we don't have user's name.

**To Reproduce**
Steps to reproduce the behavior:
1. Login to app using email and password.
2. Click on drawer icon in the top left.
3. See error

**Expected behavior**
Either there should be user displayed displayed, or something like,

[2021-05-19 15:38] #122 closed

[2021-05-19 15:38] #115 closed

[2021-05-19 15:39] #129 closed

[2021-05-19 15:40] infiniteoverflow commented on #132
I will just check and get back to u on this.

[2021-05-19 15:40] infiniteoverflow commented on #128
Hii @EAsmithaShrree  , any update on this.

[2021-05-19 16:21] EAsmithaShrree commented on #128
Will be done by this weekend. Sorry held up with assessments.

On Wed, 19 May, 2021, 9:11 PM Aswin Gopinathan, ***@***.***>
wrote:

[2021-05-20 02:50] infiniteoverflow commented on #132
I am not facing this error in my device. Can you please pull the new changes and check again.

[2021-05-20 02:50] infiniteoverflow commented on #128
Sure sure !!

[2021-05-20 09:38] SapinderSingh commented on #132
@infiniteoverflow Please watch this video.
https://user-images.githubusercontent.com/29424616/118956257-120fad80-b97d-11eb-9bde-4422538301a4.mp4

Note that this error will only come if you sign in using email and password, it will not come, if you login using google.

[2021-05-26 05:27] Ayushi7456 commented on #128
I would like to work as a GSSoC participant. May i create new issue for splash page UI enhancement?

[2021-05-26 05:54] EAsmithaShrree commented on #128
Hello @infiniteoverflow , sorry for not finishing this issue for this long. I will finish this by tonight

[2021-05-26 14:42] EAsmithaShrree commented on #132
Heyy so I coded this part of the program. I think you will receive this error if you had signed up to the app before I added the code for asking for the username during signup. Because before I added that part of the code, everybody who signed up would have done so without giving their username so that will be null for all the old users.

Does this make sense? I am guessing that this is the proble

[2021-05-26 14:47] EAsmithaShrree opened #135 "Profile screen enhancement - maintaining list of books"
In the Profile Screen, apart from Personal data, Favourites and Bookmarks, can I add another card for maintaining a list of books that the user has read. We could either get this info from the database or the user could manually enter it but the concept behind this feature is that it will make our app the 'One stop for everything about books' since the user will be able to come to our app to check

[2021-05-26 15:18] SapinderSingh commented on #132
@EAsmithaShrree Yes, you are right. Closing the issue.

[2021-05-26 15:18] #132 closed

[2021-05-29 17:29] #128 closed

[2021-05-29 17:30] infiniteoverflow commented on #135
Sure , you can go ahead with this.

[2021-10-05 02:52] #135 closed

[2021-10-05 05:01] infiniteoverflow opened #140 "Wrong Error Message when Email already exists in DB"
During Sign-up, if an email is already registered in the Database, then the error should be "Email already exists, please Log-in using that."

![Screenshot 2021-10-05 at 10 27 11 AM](https://user-images.githubusercontent.com/40236624/135962590-08fdbe9d-1ed1-43b4-8db6-f680aa793910.png)

[2021-10-05 05:02] infiniteoverflow opened #141 "Clear Form after Sign-up"
After a user successfully registers, the form should be cleared.

[2021-10-05 05:11] infiniteoverflow opened #142 "Display screen to gather user information"
After a user registers, they will be asked to log in to the app. We need to provide a check in the login screen to check if the user that is logging in is a first-time user or an existing user.

If she/he is a first-time user, redirect the user to the InfoScreen which can be found in the `screens` folder. Gather information about the user and add it to Firebase Realtime Database.

For checking the

[2021-10-05 06:15] infiniteoverflow opened #143 "Feature to upload user image"
Wont it be nice if the user can upload their pic in their profile ?

We need an option in the InfoScreen to upload an image, and when submitted, the image should be stored in Firebase Storage and its public URL appended to the user details in Firebase RealtimeDB.

If the user is signing-in using Social Auth, get the image link from the Account as use it as the profile pic.

[2021-10-05 07:05] adityathakurxd commented on #143
Can I take this up?

[2021-10-05 07:49] infiniteoverflow commented on #143
yess @adityathakurxd you can !

[2021-10-05 10:50] shyamss097 commented on #140
Can I take this up?

[2021-10-05 10:51] infiniteoverflow commented on #140
Sure @shyamss097 . Go ahead !

[2021-10-05 12:57] #140 closed

[2021-10-06 07:08] purushottam212 commented on #142
hey, google services file link not working

[2021-10-06 07:11] infiniteoverflow commented on #142
What is the issue you are facing @purushottam212

[2021-10-06 07:16] purushottam212 commented on #142
links redirects to page not found

[2021-10-06 16:36] rituraj2000 commented on #141
Hi! Please assign this issue to me so that I can put the best of my efforts

[2021-10-07 03:23] infiniteoverflow commented on #142
ohh sorry , will fix it right away! Thanks for letting me know

[2021-10-07 03:26] infiniteoverflow commented on #142
I have updated it @purushottam212

[2021-10-07 03:26] infiniteoverflow commented on #141
Sure, go ahead @rituraj2000

[2021-10-11 17:58] #141 closed

[2021-10-16 19:01] saksham-gt commented on #142
Hey, can I take this issue? If yes, then can you tell me what are the info we are expecting from the user?

[2021-10-19 06:56] adityathakurxd commented on #143
I'll unassign this @infiniteoverflow 😬 This could be a good issue for someone else to take up.

[2021-10-21 03:35] infiniteoverflow commented on #142
Sure @sudo-saksham , go ahead

We are not expecting anything from the user in this issue. Its just that we have to check if the user is already registered or a first-time user.
In order to check that, we need to check the Realtime DB where we will be storing the users data from the InfoScreen in the `screens` folder.
If data for the particular user is not available in the DB, then we need to redir

[2021-10-21 06:56] saksham-gt commented on #142
Yes, I would like to work on it. @infiniteoverflow

[2021-10-23 04:06] divyanshkul commented on #142
Is this issue still available? Can I work on it?

[2021-10-23 15:36] Priyanshu078 commented on #142
I want to work on this issue
Please assign me this issue @infiniteoverflow

[2021-10-23 16:50] saksham-gt commented on #142
Cool, @infiniteoverflow I want to withdraw my participation in this issue as I won't be able to work on it.